<h1 class="main-title">Add a Merchant</h1>
<main class="form-container">
  <form class= "add-form" action="/add/merchant" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" />
    <input class="large-btn btn"type="submit" value="Add Merchant" />
  </form>
</main>
