<h1 class = "main-title">About</h1>
<main class = "about-container">
  <p>Hello! I'm <a href="http://www.kate-preston.co.uk">Kate</a>, a student of software development at
  <a href="www.codeclan.com">CodeClan</a> in Edinburgh. This is Budgey, a simple
  budgeting app that I made as my first project in week five of my course.</p>

  <hr />
  <p>The brief for this app was:</p>

  <p>You want to start tracking your spending in an attempt to be more frugal
    so have decided to make a budgeting app to help you see where all of your
    money is being spent.</p>

  <p>You must be able to create new Transactions (which should include a merchant
    name, e.g. Tesco, and a value) which have an associated Tag (e.g. 'food', 'clothes').
    Your app should then be able to track a total, and display this in a view. The app
    must be made using Ruby, Sinatra, SQL, HTML and CSS and must not use any
    Javascript.</p>

  <p>After meeting this MVP, add any extensions that you think would be useful
    in a budgeting app.</p>

  <hr />

  <p>Check out the source on <a href="https://github.com/ktweeden/budgeting_app">GitHub</a></p>
</main>
