<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Lato" rel="stylesheet">
    <title>Budgey</title>
  </head>
  <body>
    <h1 class="main-title"><a href='/'>Budgey</a></h1>
    <nav>
      <ul>
        <li><a href = "/">Home</a></li>
        <li><a href = "/merchants">Merchants</a></li>
        <li><a href = "/tags">Tags</a></li>
        <li><a href="/budgets">Budgets</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
