html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 1rem;
  justify-content: space-between;
  align-items: flex-end; }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    header .primary-nav {
      max-width: 80vw; } }
  header .primary-nav ul {
    display: flex;
    flex-direction: row; }
    header .primary-nav ul li {
      margin-right: 1rem; }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      header .primary-nav ul .page-link {
        display: none; } }
  header .site-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; }
    header .site-title .site-logo {
      margin-right: 1rem;
      height: 2rem;
      align-self: baseline; }

@media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
  .secondary-nav {
    display: none; } }
@media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
  .secondary-nav {
    width: 100%;
    background: #f0f0f0; }
    .secondary-nav ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 1rem; }
    .secondary-nav li {
      margin: 0.5rem;
      padding: 0.5rem;
      border: 1px solid #003554; } }
html {
  font-family: "Arvo", serif;
  box-sizing: border-box; }

.budgets {
  grid-area: budgets;
  display: flex;
  flex-direction: column; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    .budgets {
      padding: 2rem; } }
  .budgets h2 {
    margin-bottom: 2rem;
    text-align: center; }
  .budgets li {
    padding: 0.5rem 0; }
    .budgets li .spending-progress-info {
      text-align: right; }

.all-transactions {
  padding: 0 5rem 0 5rem;
  display: grid;
  grid-template-rows: auto;
  justify-content: center; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    .all-transactions {
      grid-template-areas: "main_budget main_budget" "transactions cta" "transactions previous_spending" "transactions .";
      grid-template-columns: 50% 50%;
      grid-template-rows: auto; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    .all-transactions {
      grid-template-areas: "main_budget" "cta" "transactions" "previous_spending";
      grid-template-columns: 100%;
      grid-template-rows: auto;
      padding: 0 2rem; } }
  .all-transactions .cta {
    grid-area: cta; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      .all-transactions .cta {
        padding: 2rem; } }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      .all-transactions .cta {
        padding-top: 2rem; } }
  .all-transactions .previous-spending {
    grid-area: previous_spending; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      .all-transactions .previous-spending {
        padding: 0 2rem 2rem 2rem; } }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      .all-transactions .previous-spending {
        padding-bottom: 2rem; } }
    .all-transactions .previous-spending h3 {
      margin: 2rem 0 1rem 0; }
      @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
        .all-transactions .previous-spending h3 {
          text-align: center; } }
  .all-transactions .spending-progress-info {
    text-align: right; }

.top-line {
  display: flex;
  flex-direction: row;
  margin: 1rem 2rem;
  justify-content: space-between; }

.dashboard {
  padding: 0 5rem 0 5rem;
  display: grid;
  justify-content: center; }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    .dashboard {
      padding: 0 2rem; } }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    .dashboard {
      grid-template-areas: "main_budget main_budget" "budgets transactions" "budgets transactions" "categories merchants";
      grid-template-columns: 50% 50%;
      grid-template-rows: auto; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    .dashboard {
      grid-template-areas: "main_budget" "transactions" "budgets" "categories" "merchants";
      grid-template-columns: 100%;
      grid-template-rows: auto; } }
  .dashboard .categories {
    grid-area: categories; }
  .dashboard .merchants {
    grid-area: merchants; }
  .dashboard .right-column {
    justify-self: center; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      .dashboard .right-column {
        padding: 2rem; } }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      .dashboard .right-column {
        padding: 2rem 0; } }
  .dashboard h3 {
    text-align: center;
    margin-bottom: 2rem; }
  .dashboard .previous-months {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem; }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      .dashboard .previous-months {
        flex-direction: column; } }

.spinning {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.spinning-anti {
  animation-name: spina;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes spina {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-90deg); }
  50% {
    transform: rotate(-180deg); }
  75% {
    transform: rotate(-270deg); } }
.all-budgets {
  padding: 0 5rem 0 5rem;
  display: grid;
  justify-content: center;
  grid-template-rows: auto; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    .all-budgets {
      grid-template-areas: "main_budget main_budget" "edit budgets" "edit budgets";
      grid-template-columns: 50% 50%; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    .all-budgets {
      grid-template-areas: "main_budget" "edit" "budgets";
      grid-template-columns: 100%;
      padding: 0 2rem; } }
  .all-budgets h3 {
    text-align: center;
    width: 100%;
    padding-bottom: 1rem; }
  .all-budgets .editable-budgets {
    grid-area: edit;
    justify-content: center; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      .all-budgets .editable-budgets {
        padding: 2rem; } }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      .all-budgets .editable-budgets {
        padding: 2rem 0; } }
    .all-budgets .editable-budgets td {
      flex: 1; }
    .all-budgets .editable-budgets .amount {
      text-align: left; }
    .all-budgets .editable-budgets .name {
      text-align: left; }
    .all-budgets .editable-budgets .edit {
      text-align: right; }
  .all-budgets .cta {
    grid-area: cta;
    padding: 2rem; }

.all-merchants {
  display: grid;
  grid-template-rows: auto;
  justify-content: center; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    .all-merchants {
      grid-template-areas: "merchant_list monthly" "merchant_list cta" "merchant_list .";
      grid-template-columns: 50% 50%;
      padding: 0 5rem 0 5rem; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    .all-merchants {
      grid-template-areas: "merchant_list" "cta" "monthly";
      grid-template-columns: 100%;
      padding: 0 2rem; } }
  .all-merchants h3 {
    text-align: center;
    width: 100%;
    padding-bottom: 1rem; }
  .all-merchants .merchant-list {
    grid-area: merchant_list;
    justify-content: center; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      .all-merchants .merchant-list {
        padding: 2rem; } }
    .all-merchants .merchant-list .name {
      flex: 2;
      text-align: left; }
    .all-merchants .merchant-list .amount {
      flex: 1;
      text-align: right; }
  .all-merchants .top-this-month {
    grid-area: monthly;
    justify-content: center; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      .all-merchants .top-this-month {
        padding: 2rem; } }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      .all-merchants .top-this-month {
        padding-top: 2rem; } }
  .all-merchants .cta {
    grid-area: cta; }

.individual-merchant-container {
  display: grid;
  grid-template-rows: auto;
  justify-content: center; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    .individual-merchant-container {
      grid-template-areas: "transactions monthly";
      grid-template-columns: 50% 50%;
      padding: 0 5rem 0 5rem; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    .individual-merchant-container {
      grid-template-areas: "transactions" "monthly";
      grid-template-columns: 100%;
      padding: 0 2rem; } }
  .individual-merchant-container h3 {
    text-align: center;
    width: 100%;
    padding-bottom: 1rem; }
  .individual-merchant-container .transactions-this-month {
    grid-area: transactions;
    justify-content: center; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      .individual-merchant-container .transactions-this-month {
        padding: 2rem; } }
  .individual-merchant-container .monthly {
    grid-area: monthly;
    justify-content: center; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      .individual-merchant-container .monthly {
        padding: 2rem; } }

.all-tags {
  display: grid;
  grid-template-rows: auto;
  justify-content: center; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    .all-tags {
      grid-template-areas: "tag_list top_this_month" "tag_list budgets" "tag_list .";
      grid-template-columns: 50% 50%;
      padding: 0 5rem 0 5rem; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    .all-tags {
      grid-template-areas: "top_this_month" "budgets" "tag_list";
      grid-template-columns: 100%;
      padding: 0 2rem; } }
  .all-tags h3 {
    text-align: center;
    width: 100%;
    padding-bottom: 1rem; }
  .all-tags .tag-list {
    grid-area: tag_list;
    justify-content: center; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      .all-tags .tag-list {
        padding: 2rem; } }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      .all-tags .tag-list {
        padding: 2rem 0; } }
    .all-tags .tag-list table {
      margin-bottom: 3rem; }
  .all-tags .top-this-month {
    grid-area: top_this_month; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      .all-tags .top-this-month {
        padding: 2rem 2rem 0 2rem; } }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      .all-tags .top-this-month {
        padding: 2rem 0; } }
  .all-tags .cta {
    grid-area: cta; }

.individual-tag-container {
  display: grid;
  grid-template-rows: auto;
  justify-content: center; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    .individual-tag-container {
      grid-template-areas: "main_budget main_budget" "transactions monthly";
      grid-template-columns: 50% 50%;
      padding: 0 5rem 0 5rem; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    .individual-tag-container {
      grid-template-areas: "main_budget" "transactions" "monthly";
      grid-template-columns: 100%;
      padding: 0 2rem; } }
  .individual-tag-container h3 {
    text-align: center;
    width: 100%;
    padding-bottom: 1rem; }
  .individual-tag-container .transactions-this-month {
    grid-area: transactions;
    justify-content: center; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      .individual-tag-container .transactions-this-month {
        padding: 2rem; } }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      .individual-tag-container .transactions-this-month {
        padding: 2rem 0; } }
    .individual-tag-container .transactions-this-month .date {
      flex: auto; }
      @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
        .individual-tag-container .transactions-this-month .date {
          order: 2; } }
    .individual-tag-container .transactions-this-month .merchant {
      flex: 1; }
      @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
        .individual-tag-container .transactions-this-month .merchant {
          order: 1;
          flex-basis: 100%; } }
    .individual-tag-container .transactions-this-month .amount {
      text-align: right;
      flex: auto; }
      @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
        .individual-tag-container .transactions-this-month .amount {
          order: 3; } }
  .individual-tag-container .monthly {
    grid-area: monthly;
    justify-content: center; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      .individual-tag-container .monthly {
        padding: 2rem; } }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003554;
  color: white;
  margin: 0.5rem 0;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.05rem;
  text-align: center; }

.small-btn {
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem; }

.medium-btn {
  height: 3.5rem;
  font-size: 1.2rem;
  padding: 0.5rem 0; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    .medium-btn {
      width: 10rem; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    .medium-btn {
      width: 100%; } }

.large-btn {
  height: 4rem;
  width: 100%;
  font-size: 1.5rem; }

a.btn:visited {
  color: white; }

a.large-btn:visited {
  color: white; }

.main-budget {
  grid-area: main_budget;
  justify-self: center; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    .main-budget {
      width: 60%; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    .main-budget {
      width: 100%; } }
  .main-budget .spending-progress-info {
    text-align: right; }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      .main-budget .spending-progress-info {
        padding-bottom: 1rem; } }

.spending-progress {
  width: 100%;
  text-align: right;
  margin: 0.5rem 0;
  background-color: #f0f0f0; }
  .spending-progress .spent {
    background-color: #EEB902;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; }
  .spending-progress .over-spent {
    background-color: #b90706;
    color: white; }

.large-progress-bar {
  height: 3rem; }

.standard-progress-bar {
  height: 2rem; }

table {
  justify-self: center; }

th {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  padding: 1rem; }

tr {
  border-bottom: 1px solid black; }

@media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
  td {
    padding: 0.5rem 1rem; } }
@media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
  td {
    padding: 0.5rem 0; } }

.transactions {
  grid-area: transactions; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    .transactions {
      padding: 2rem; } }
  .transactions h3 {
    margin-top: 2rem; }
  .transactions table {
    margin-bottom: 2rem; }
  .transactions tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 0; }
    .transactions tr .merchant {
      order: 1;
      text-align: left;
      flex-basis: 60%; }
    .transactions tr .amount {
      order: 2;
      text-align: right;
      flex: 1; }
    .transactions tr .tag {
      order: 3;
      text-align: left; }
      @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
        .transactions tr .tag {
          flex-basis: 50%; } }
      @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
        .transactions tr .tag {
          flex-basis: 60%; } }
    .transactions tr .date {
      order: 4;
      text-align: right;
      flex: 1; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      .transactions tr td {
        padding: 0.2rem 1rem; } }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      .transactions tr td {
        padding: 0.2rem 0; } }

.basic-table {
  width: 100%;
  margin-bottom: 2rem; }
  .basic-table tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 0;
    justify-content: space-between; }

.main-title {
  text-align: center;
  padding: 2rem 0; }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    .main-title {
      padding: 2rem 1rem; } }

.site-title {
  font-family: "Quicksand", sans-serif; }

a {
  color: black;
  text-decoration: none; }

a:visited {
  color: black; }

h1 {
  font-family: "Lato", sans-serif; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    h1 {
      font-size: 4rem; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    h1 {
      font-size: 3.5rem;
      max-width: 100vw; } }

h2 {
  font-size: 1.75rem;
  font-family: "Lato", sans-serif; }

h3 {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif; }

.form-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.add-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    .add-form {
      width: 40vw; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    .add-form {
      width: 80vw; } }
  .add-form input {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    font-family: "Arvo", serif;
    background-color: #f0f0f0;
    border: none;
    text-align: center; }
    .add-form input.large-btn {
      margin-top: 1rem;
      background-color: #EEB902; }
  .add-form label {
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif; }
  .add-form select {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    font-family: "Arvo", serif;
    text-align: center;
    background-color: #f0f0f0;
    border: none; }
  .add-form label.small {
    flex-basis: 50%;
    flex: 1; }
  .add-form input.small {
    flex: 1; }
  .add-form .delete {
    margin-top: 3rem;
    background-color: #b90706; }

/*# sourceMappingURL=style.css.map */
