.all-budgets {
  padding: 0 5rem 0 5rem;
  display: grid;
  justify-content: center;
  grid-template-rows: auto;

  @include mq-web-layout {
    grid-template-areas:
      "main_budget main_budget"
      "edit budgets"
      "edit budgets";

    grid-template-columns: 50% 50%;
  };

  @include mq-phone-layout {
    grid-template-areas:
      "main_budget"
      "edit"
      "budgets";

    grid-template-columns: 100%;

    padding: 0 2rem;
  };

  h3 {
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
  }

  .editable-budgets {
    grid-area: edit;
    justify-content: center;

    @include mq-web-layout {
      padding: 2rem;
    };

    @include mq-phone-layout {
      padding: 2rem 0;
    };
      td {
        flex: 1;
      }

      .amount {
        text-align: left;
      }
      .name {
        text-align: left;
      }
      .edit {
        text-align: right;
      }
    }

  .cta {
    grid-area: cta;
    padding: 2rem;
  }

}
