.dashboard {
  padding: 0 5rem 0 5rem;
  display: grid;
  grid-template-areas:
    "main_budget main_budget"
    "budgets transactions"
    "budgets transactions"
    "categories merchants";

  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto 2fr 2fr;
  justify-content: center;

  .categories {
    grid-area: categories;
    padding: 2rem;
  }

  .merchants {
    grid-area: merchants;
    padding: 2rem;
  }

  .right-column {
    justify-self: center;
  }

  h3 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .previous-months {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }

}


.spinning {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.spinning-anti {
  animation-name: spina;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes spina {
    0% {
        transform:rotate(0deg);
    }
    25% {
        transform:rotate(-90deg);
    }

    50% {
        transform:rotate(-180deg);
    }

    75% {
        transform:rotate(-270deg);
    }

}
