.dashboard {
  padding: 0 5rem 0 5rem;
  display: grid;

  @include mq-phone-layout {
    padding: 0 2rem;
  };

  @include mq-web-layout {
    grid-template-areas:
      "main_budget main_budget"
      "budgets transactions"
      "budgets transactions"
      "categories merchants";

      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
  };

  @include mq-phone-layout {
    grid-template-areas:
      "main_budget"
      "transactions"
      "budgets"
      "categories"
      "merchants";

      grid-template-columns: 100%;
      grid-template-rows: auto;
  };

  justify-content: center;


  .categories {
    grid-area: categories;

  }

  .merchants {
    grid-area: merchants;
  }

  .right-column {
    justify-self: center;

    @include mq-web-layout {
      padding: 2rem;
    };

    @include mq-phone-layout {
      padding: 2rem 0;
    };
  }

  h3 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .previous-months {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;

    @include mq-phone-layout {
      flex-direction: column;
    };
  }



}


.spinning {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.spinning-anti {
  animation-name: spina;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes spina {
    0% {
        transform:rotate(0deg);
    }
    25% {
        transform:rotate(-90deg);
    }

    50% {
        transform:rotate(-180deg);
    }

    75% {
        transform:rotate(-270deg);
    }

}
