@import "_global_variables";

header {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 1rem;
  justify-content: space-between;
  align-items: flex-end;

  .primary-nav {

    @include mq-phone-layout {
      max-width: 80vw;
    };
    ul {
      display: flex;
      flex-direction: row;

      li {
        margin-right: 1rem;
      }

      @include mq-phone-layout {
        .page-link {
          display: none;
        }
      };

    }
  }


  .site-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    // @include mq-phone-layout {
    //   position: fixed;
    //   bottom: 0;
    // };

    .site-logo{
      margin-right: 1rem;
      height: 2rem;
      align-self: baseline;
    }
  }
}

@include mq-web-layout {
  .secondary-nav {
    display: none;
  }
};

@include mq-phone-layout {
  .secondary-nav {
    width: 100%;
    background: $grey;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
      // justify-content: space-between;
      padding: 1rem;
    }

    li {
      margin: 0.5rem;
      padding: 0.5rem;
      border: 1px solid $dark-blue;
    }
  }
};


html {
  font-family: $content-font;
  box-sizing: border-box;
}


.budgets {
  grid-area: budgets;
  display: flex;
  flex-direction: column;

  @include mq-web-layout {
    padding: 2rem;
  }

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  li {
    padding: 0.5rem 0;

    .spending-progress-info {
      text-align: right;
    }
  }
}
