.all-merchants {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;

  @include mq-web-layout {
    grid-template-areas:
      "merchant_list monthly"
      "merchant_list cta"
      "merchant_list .";

    grid-template-columns: 50% 50%;
    padding: 0 5rem 0 5rem;
  };

  @include mq-phone-layout {
    grid-template-areas:
      "merchant_list"
      "cta"
      "monthly";

    grid-template-columns: 100%;
    padding: 0 2rem;
  };

  h3 {
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
  }

  .merchant-list {
    grid-area: merchant_list;
    justify-content: center;

    @include mq-web-layout {
      padding: 2rem;
    };

    @include mq-phone-layout {

    };

    .name {
      flex: 2;
      text-align: left;
    }

    .amount {
      flex: 1;
      text-align: right;
    }
  }

  .top-this-month {
    grid-area: monthly;
    justify-content: center;

    @include mq-web-layout {
      padding: 2rem;
    };

    @include mq-phone-layout {
      padding-top: 2rem;
    };
  }

  .cta {
    grid-area: cta;
  }
}

.individual-merchant-container {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;

  @include mq-web-layout {
    grid-template-areas:
      "transactions monthly";

    grid-template-columns: 50% 50%;
    padding: 0 5rem 0 5rem;
  };

  @include mq-phone-layout {
    grid-template-areas:
      "transactions"
      "monthly";

    grid-template-columns: 100%;
    padding: 0 2rem;
  };

  h3 {
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
  }

  .transactions-this-month {
    grid-area: transactions;
    justify-content: center;

    @include mq-web-layout {
      padding: 2rem;
    };

  }

  .monthly {
    grid-area: monthly;
    justify-content: center;

    @include mq-web-layout {
      padding: 2rem;
    };
  }
}
