<section class="transaction-table">
  <table>
    <tr>
      <th>Tag</td>
      <th>Amount</td>
    </tr>
    <% @tags.each do |tag| %>
    <tr>
      <td>
        <a href = "/tags/<%= tag.id %>">
          <%= tag.name %>
        </a>
      </td>
      <td>£ <%= to_pounds(tag.total_spent) %></td>
    </tr>
    <% end %>
  </table>
