<h1 class="main-title">Add a Merchant</h1>
<main class="form-container">
  <form class="add-form" action="/budgets/add" method="post">
    <label for="amount">Amount:</label>
    <input type="number" name="amount">
    <label for="tag">Tag:</label>
    <select name="tag_id">
      <% @tags.each do |tag| %>
        <option value="<%=tag.id%>"><%=tag.name%></option>
      <% end %>
    </select>
    <input class="large-btn btn" type="submit" value="Add Budget">
  </form>
</main>
