<h1 class="main-title">Update budget</h1>
<main class="form-container">
  <form class="add-form"action="/budgets/update/<%=@budget.id%>" method="post">
    <label for="tag">Tag:</label>
    <select name="tag_id">
      <% @tags.each do |tag| %>
        <option value="<%=tag.id%>" <% if @budget.tag_id == tag.id %>selected="selected"<% end %>>
          <%=tag.name%>
        </option>
      <% end %>
    </select>
    <label for="amount">Amount:</label>
    <input type="number" name="amount" value="<%= to_pounds(@budget.amount)%>"/>
    <input class="large-btn btn"type="submit" value="Update Budget" />
  </form>
</main>
