<h1 class="main-title">Update monthly budget</h1>
<main class="form-container">
  <form class="add-form" action="/budgets/update/<%=@budget.id%>" method="post">
    <label for="amount">Amount:</label>
    <input type="number" name="amount" value="<%= to_pounds(@budget.amount)%>"/>
    <input class="large-btn btn"type="submit" value="Update Budget" />
  </form>
</main>
